.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  font-size: 24px;
  /* Adjust the size of the icons */
  color: #0073b1;
  /* Example color */
}

.social-links a:hover {
  color: #005582;
  /* Darker color on hover */
}