.FaButton{
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    width: fit-content;
    height: fit-content;
}
.CloseButton{
    color:grey;
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 60%;
}